/* Este es un comentario en CSS*/

/* Selector universal. Selecciona todos los elementos. */
*{
    background-color: antiquewhite;
}

/* Selectores de tipo. Selecciona todos los elementos con ese nombre */

h1, h2, h3{
    font-family: 'Source Code Pro', monospace;
}

/*Selector de id. Permite seleccionar un elemento con id especifico. NO se comparte con otro elemento */
#profile-photo{
    width: 125px;
    height: 125px;
}

/* body {
    background-color:rgb(174, 184, 152);
}

p {
    color:rgb(39, 44, 95)
}

p {
    color:blanchedalmond
}
*/

table{
    border:3px solid coral;
    border-spacing: 10px;
    border-collapse: collapse;
    text-align: center;
}

th{
    border:2px solid coral;
    /*border-right: 5px solid purple;
    border-left: 5px solid yellow;
    border-top: 3px dashed green;
    border-bottom: 4px dotted blue;*/
}

td{
    border: 3px solid coral;
}
